<footer>
    <div id="copyright">
        <h4>&#169 (2k20) GHStudio.<br>All Rights Reserved</h4>
    </div>
    <div id="page-links">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/users/user">Profile</a>
            </li>
    </div>
</footer>