#home-container {
  display: flex;
  height: 96%; }
  #home-container #feed-posts {
    width: 70%;
    overflow: scroll;
    padding: 10px; }
  #home-container #user-friends {
    width: 30%;
    padding: 10px;
    border: 1px solid lightgrey;
    height: 100%; }
